<div id="suggest-committees" class="clear">
    <hr/>
    <h4 class='suggest-heading'>Committees ({{count}})</h4>
    <ul>

    {% if objects.joint %}
        <strong>Joint</strong>
        {% for c in objects.joint %}
            <li class="suggest-item"><span>
                <a href='/{{c.state}}/committees/{{c._id}}/'>{{ c.committee }}</a>
            </span></li>
        {% endfor %}
    {% endif %}

    {% if objects.upper %}
        <strong>Upper</strong>
        {% for c in objects.upper %}
            <li class="suggest-item"><span>
                <a href='/{{c.state}}/committees/{{c._id}}/'>{{ c.committee }}</a>
            </span></li>
        {% endfor %}
    {% endif %}

    {% if objects.lower %}
        <strong>Lower</strong>
        {% for c in objects.lower %}
            <li class="suggest-item"><span>
                <a href='/{{c.state}}/committees/{{c._id}}/'>{{ c.committee }}</a>
            </span></li>
        {% endfor %}
        </ul>
    {% endif %}
</div>