<div class='suggest-legislators' class="clear">
    <h3>Legislators ({{count}})</h3>
    <ul>

    {% if objects.upper %}
        <strong>Upper</strong>
        {% for leg in objects.upper %}
            <li class="suggest-item">
            <span>
                <a href='http://openstates.org/{{leg.state}}/legislators/{{leg._id}}/'>{{ leg.full_name }}</a>
            </span> ({{leg.party}}—{{leg.district}})
            </li>
        {% endfor %}
    {% endif %}

    {% if objects.lower %}
        <strong>Lower</strong>
        {% for leg in objects.lower %}
            <li class="suggest-item">
            <span>
                <a href='http://openstates.org/{{leg.state}}/legislators/{{leg._id}}/'>{{ leg.full_name }}</a>
            </span> ({{leg.party}}—{{leg.district}})
            </li>
        {% endfor %}
    {% endif %}
    </ul>
</div>